@use "../../variables/variables" as *;
.what__container {
  display: flex;
  justify-content: space-between;
  gap: 73px;
  padding-block-end: 124px;
  @media (max-width: 1025px) {
    padding-block-end: 100px;
  }
  @media (max-width: 992.99px) {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  @media (max-width: 768px) {
    padding-block-end: 45px;
      gap: 66px;
  }
}
.what__column--what {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1025px) {
    max-width: 333px;
  }
  @media (max-width: 992.98px) {
    max-width: 531px;
  }
}

.what__body-title {
  @include font($primaryTitle);
  padding-block-end: 16px;
  @media (max-width: 992.99px) {
    text-align: center;
  }
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 40px;
    text-align: start;
    letter-spacing: -0.3px;
  }
}
.what__body {
  max-width: 660px;
  @media (max-width: 1025px) {
    max-width: 333px;
  }
}
.what__body-text,
.what__text,
.what__card-text {
  @include font($primaryText);
  color: $secondaryColor;
}
.what__body-text {
  max-width: 530px;
  @media (max-width: 768px) {
    width: 350px;
  }
  @media (max-width: 400px) {
    max-width: 300px;
  }
}
.what__text {
  margin-block-end: -4px;
}

.what__card-text {
  padding-block-end: 24px;
  @media (max-width: 768px) {
    max-width: 242px;
  }
}
.what__cards {
  display: flex;
  flex-direction: column;
  gap: 39px;
  @media (max-width: 992.98px) {
    align-items: center;
  }
  @media (max-width: 768px) {
    gap: 15px;
  }
}
.what__card {
  display: flex;
  max-width: 438px;
  gap: 4px;
  @media (max-width: 768px) {
    max-width: 350px;
  }
}
.what__card--grey {
  background-color: $backgroundFooter;
  border-radius: 8px;
}
.what__body-img {
  padding-block: 20px;
  padding-inline-start: 20px;
}
.what__body-img img {
  min-width: 44px;
  min-height: 44px;
}
.what__info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.what__card-title {
  @include font($primaryCardsTitle);
  padding-block-end: 4px;
  white-space: nowrap;
}
.what__card-job {
  @include font($primaryCardsCaption);
}

.what__text {
  @media (max-width: 768px) {
    padding-block-start: 48px;
  }
}
