.what__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 73px;
  -webkit-padding-after: 124px;
          padding-block-end: 124px;
}
@media (max-width: 1025px) {
  .what__container {
    -webkit-padding-after: 100px;
            padding-block-end: 100px;
  }
}
@media (max-width: 992.99px) {
  .what__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .what__container {
    -webkit-padding-after: 45px;
            padding-block-end: 45px;
    gap: 66px;
  }
}

.what__column--what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1025px) {
  .what__column--what {
    max-width: 333px;
  }
}
@media (max-width: 992.98px) {
  .what__column--what {
    max-width: 531px;
  }
}

.what__body-title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1px;
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
}
@media (max-width: 992.99px) {
  .what__body-title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .what__body-title {
    font-size: 32px;
    line-height: 40px;
    text-align: start;
    letter-spacing: -0.3px;
  }
}

.what__body {
  max-width: 660px;
}
@media (max-width: 1025px) {
  .what__body {
    max-width: 333px;
  }
}

.what__body-text,
.what__text,
.what__card-text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #88888d;
}

.what__body-text {
  max-width: 530px;
}
@media (max-width: 768px) {
  .what__body-text {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .what__body-text {
    max-width: 300px;
  }
}

.what__text {
  -webkit-margin-after: -4px;
          margin-block-end: -4px;
}

.what__card-text {
  -webkit-padding-after: 24px;
          padding-block-end: 24px;
}
@media (max-width: 768px) {
  .what__card-text {
    max-width: 242px;
  }
}

.what__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 39px;
}
@media (max-width: 992.98px) {
  .what__cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768px) {
  .what__cards {
    gap: 15px;
  }
}

.what__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 438px;
  gap: 4px;
}
@media (max-width: 768px) {
  .what__card {
    max-width: 350px;
  }
}

.what__card--grey {
  background-color: #222233;
  border-radius: 8px;
}

.what__body-img {
  padding-block: 20px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.what__body-img img {
  min-width: 44px;
  min-height: 44px;
}

.what__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.what__card-title {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  -webkit-padding-after: 4px;
          padding-block-end: 4px;
  white-space: nowrap;
}

.what__card-job {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0px;
}

@media (max-width: 768px) {
  .what__text {
    -webkit-padding-before: 48px;
            padding-block-start: 48px;
  }
}/*# sourceMappingURL=whatSection.css.map */