@use "../variables/variables" as *;

body {
  display: flex;
  justify-content: center;
  background-color: $backgroundVulcan;
  color: white;
  min-height: 100vh;
}
main {
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-inline: 90px;

  @media (max-width: 768px) {
    padding-inline: 32px;
  }
}

[class*="__container"] {
  padding-block: 120px;
  @media (max-width: 1024px) {
    padding-block: 100px;
  }
  @media (max-width: 414px) {
    padding-block: 45px;
  }
}
