@use "../../variables/variables" as *;
.makes__container {
  display: flex;
  flex-direction: column;
  @media (max-width: 1025px) {
    padding-block-start: 271px;
  }
  @media (max-width: 992.99px) {
    padding-block-start: 114px;
  }
}
.makes__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block-end: 48px;
  @media (max-width: 992.99px) {
    text-align: center;
    @media (max-width: 600px) {
      text-align: start;
      align-items: flex-start;
    }
  }
}
.makes__body-title {
  padding-block-end: 16px;
  @include font($primaryTitle);
  max-width: 650px;
  @media (max-width: 992.99px) {
    font-size: 32px;
    line-height: 40px;
  }
}
.makes__body-text {
  max-width: 650px;
  @include font($primaryText);
  color: $secondaryColor;
}
.makes__cards {
}
