@use "../../variables/variables" as *;
html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: $backgroundVulcan;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 1440px;
}

.main {
  flex: 1;
}
