@use "../../variables/variables" as *;

.header {
  width: 100%;
  max-width: 1440px;
  padding-inline: 90px;
  @media (max-width: 768px) {
    padding-inline: 32px;
  }
}
.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo {
  flex: 1 1;
  padding-block-start: 26px;
  padding-block-end: 18px;
  @media (max-width: 768px) {
    padding-block: 25px;
  }
}
.logo__img {
  width: 44px;
  height: 44px;
  @media (max-width: 768px) {
    width: 38px;
    height: 38px;
  }
}
.logo__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 100%;
  letter-spacing: 0px;
  @media (max-width: 768px) {
    font-size: 22px;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  transition: all 0.3s ease-in-out;

  @media (max-width: 768px) {
    display: none;

  }

}

.nav__link {
  font-family: "Sora";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: $secondaryColor;
  &:hover {
    color: $primaryColor;
  }
}
.nav__link--template {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: $primaryColor;
  font-size: 14px;
  line-height: 20px;
  padding-block: 14px;
  padding-inline: 24px;
  border-radius: 8px;
  background-color: #222233;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  @media (max-width: 600px) {
    gap: 4px;
  
  }
}

.header-portfolio .nav__link {

}