.wrapper-gettemplate .header {
  display: none;
}
@media (max-width: 768px) {
  .wrapper-gettemplate .header {
    display: flex;
    justify-content: space-between;
  }
}

.wrapper-gettemplate .nav {
  width: 100%;
}

.template__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 0;
  padding-block: 12.5rem;
}
@media (max-width: 1025px) {
  .template__container {
    padding-block: 6.25rem;
  }
}
@media (max-width: 768px) {
  .template__container {
    padding-block-start: 0.125rem;
    padding-block-end: 3.4375rem;
  }
}

.template__body {
  display: flex;
  flex-direction: column;
  padding-block-end: 3rem;
  padding-inline: 19.0625rem;
  padding-inline-start: 17.9375rem;
  padding-inline-end: 15.5625rem;
}
@media (max-width: 1024px) {
  .template__body {
    padding-inline: 5.625rem;
  }
}
@media (max-width: 768px) {
  .template__body {
    padding-inline: 2rem;
  }
}

.template__body--text {
  gap: 1.5rem;
}

.template__users {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.template__users-name {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
}

.template__title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 5.375rem;
  letter-spacing: -0.09375rem;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  width: 54.125rem;
}
@media (max-width: 1430px) {
  .template__title {
    width: 100%;
  }
}
@media (max-width: 1025px) {
  .template__title {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (max-width: 768px) {
  .template__title {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.01875rem;
  }
}

.template__data {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
}

.template__body--text {
  width: 100%;
  padding-inline: 19.0625rem;
}
@media (max-width: 1025px) {
  .template__body--text {
    padding-inline: 5.625rem;
  }
}
@media (max-width: 768px) {
  .template__body--text {
    padding-inline: 2rem;
    padding-block-end: 3.75rem;
  }
}

.template__body-text {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #88888d;
  font-weight: 400;
  letter-spacing: -0.01875rem;
}

.template__button {
  max-width: inherit;
}

.template__container .button {
  max-width: inherit;
  width: 100%;
  background-color: inherit;
  display: flex;
  padding-inline: 19.0625rem;
  padding-block: 0;
}
@media (max-width: 1025px) {
  .template__container .button {
    padding-inline: 5.625rem;
  }
}
@media (max-width: 768px) {
  .template__container .button {
    padding-inline: 1.875rem;
  }
}

.template__button-link {
  width: 7rem;
  background-color: #006ada;
  padding-block: 0.875rem;
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
}
/*# sourceMappingURL=getTemplate.css.map */
