<div class="footer__container">
  @@include("../logo/logo.html")
  <div class="footer__contact">
    <div class="portfolio">
      <p>Portfolio</p>
      <p>Handbook</p>
    </div>
    <div class="about">
      <p>About Me</p>
      <p>Design System</p>
    </div>
    <div class="blog">
      <p>Blog</p>
      <p>Timeline</p>
    </div>
    <div class="contact">
      <p>Contact</p>
    </div>
  </div>
  <div class="footer__copy">
    <p class="footer__copy-title">Copyright 2021 © Portier. All right reserved</p>
    <div class="footer__items">
      <a class="footer__link" href="">
        <img src="img/footer/twitter.png" alt="twit" />
      </a>
      <a class="footer__link footer__link--green" href="">
        <img src="img/footer/link.png" alt="link" />
      </a>
      <a class="footer__link" href="">
        <img src="img/footer/figure.png" alt="figure" />
      </a>
      <a class="footer__link" href="">
        <img src="img/footer/cube.png" alt="cube" />
      </a>
    </div>
  </div>
</div>
