/* ===============================
   Modern CSS Reset / Full Reset
   =============================== */
/* Box-sizing border-box for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Set default body styles */
/* Remove list styles on ul, ol elements */
ul,
ol,
li {
  list-style: none;
  text-decoration: none;
}

/* Remove default quotes for blockquote, q */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

/* Remove table spacing and borders */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default button/input styles */
button,
input,
select,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

/* Anchor tag reset */
a {
  text-decoration: none;
  color: inherit;
}

/* Image reset */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
}

/* Optional: smooth scroll behavior for the whole page */
html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: #12121c;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 90rem;
  flex-direction: column;
  align-items: center;
}

[class*=__container] {
  padding-block: 7.5rem;
  padding-inline: 5.625rem;
}
@media (max-width: 1025px) {
  [class*=__container] {
    padding-block: 6.25rem;
  }
}
@media (max-width: 768px) {
  [class*=__container] {
    padding-block: 2.8125rem;
    padding-inline: 2rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 90rem;
}

.main {
  flex: 1;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .portfolio__container {
    padding-block-start: 5.625rem;
  }
}

.portfolio__background {
  position: relative;
  max-width: 47.5rem;
  max-height: 27.5rem;
}

.portfolio__background-img {
  width: 100%;
  height: auto;
}

@media (max-width: 1025px) {
  .portfolio__background--ds {
    display: none;
  }
}

.portfolio__background--tablet,
.portfolio__background--mob {
  display: none;
}

@media (max-width: 1025px) {
  .portfolio__background--tablet {
    display: block;
  }
}
@media (max-width: 768px) {
  .portfolio__background--tablet {
    display: none;
  }
}

@media (max-width: 768px) {
  .portfolio__background--mob {
    display: block;
  }
}

.portfolio__background::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
  z-index: 1;
}

.portolio__body {
  position: absolute;
  z-index: 2;
  max-width: 40.375rem;
  left: 5.625rem;
  top: 28.1875rem;
}
@media (min-width: 1600px) {
  .portolio__body {
    left: 21.875rem;
    top: 28.1875rem;
  }
}
@media (max-width: 1025px) {
  .portolio__body {
    top: 37.6875rem;
  }
}
@media (max-width: 992.99px) {
  .portolio__body {
    position: static;
    margin-block-start: -6.25rem;
  }
}

.portolio__body-title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 5.375rem;
  letter-spacing: -0.09375rem;
}
@media (max-width: 1025px) {
  .portolio__body-title {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (max-width: 768px) {
  .portolio__body-title {
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 20rem;
  }
}

.portolio__body-title--grey {
  color: #88888d;
}

.portolio__body-text {
  color: #88888d;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.01875rem;
  padding-block-start: 1rem;
}

.portolio__social {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  position: absolute;
  top: 39.8125rem;
  right: 5.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 2;
}
@media (min-width: 1600px) {
  .portolio__social {
    right: 25rem;
  }
}
@media (max-width: 1025px) {
  .portolio__social {
    top: 43.9375rem;
  }
}
@media (max-width: 768px) {
  .portolio__social {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    width: 100%;
    right: inherit;
    padding-block-start: 2.8125rem;
  }
}

.hero__portfolio-title--point {
  color: #57efb4;
}

.makes__container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1025px) {
  .makes__container {
    padding-block-start: 16.9375rem;
  }
}
@media (max-width: 992.99px) {
  .makes__container {
    padding-block-start: 7.125rem;
  }
}

.makes__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block-end: 3rem;
}
@media (max-width: 992.99px) {
  .makes__body {
    text-align: center;
  }
}
@media (max-width: 992.99px) and (max-width: 600px) {
  .makes__body {
    text-align: start;
    align-items: flex-start;
  }
}

.makes__body-title {
  padding-block-end: 1rem;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.0625rem;
  max-width: 40.625rem;
}
@media (max-width: 992.99px) {
  .makes__body-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.makes__body-text {
  max-width: 40.625rem;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
}

.statistic__cards {
  display: flex;
  justify-content: space-between;
  gap: 5.875rem;
}
@media (max-width: 768px) {
  .statistic__cards {
    flex-direction: column;
  }
}

.statistic__card {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  max-width: 24.9375rem;
  gap: 1rem;
}
@media (max-width: 1025px) {
  .statistic__card {
    max-width: 11.875rem;
  }
}
@media (max-width: 768px) {
  .statistic__card {
    max-width: inherit;
    width: 100%;
  }
}

.statistic__card-title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.0625rem;
  text-wrap: balance;
}

.statistic__card-text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
}

.companies__container {
  display: flex;
  justify-content: space-between;
  gap: 6.875rem;
}
@media (max-width: 768px) {
  .companies__container {
    flex-direction: column;
    gap: 3rem;
  }
}

.companies__card-text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "Sora", sans-serif;
  font-weight: 400;
}

.companies__body {
  max-width: 40.375rem;
}
@media (max-width: 992.99px) {
  .companies__body {
    text-align: center;
  }
}
@media (max-width: 992.99px) and (max-width: 600px) {
  .companies__body {
    text-align: start;
  }
}

.companies__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 768px) {
  .companies__cards {
    align-items: center;
  }
}

.companies__body-title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.0625rem;
}
@media (max-width: 768px) {
  .companies__body-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.companies__body-text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
  padding-block-start: 1rem;
}

.companies__body-img {
  padding: 0.9375rem;
  border-radius: 1.375rem;
  background-color: #222233;
}

.companies__body-img--green {
  background-color: #57efb4;
}

.companies__body-img img {
  width: 0.9375rem;
  height: 0.9375rem;
}

.companies__card {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  max-width: 27.4375rem;
  min-width: 12.5rem;
}
@media (max-width: 1025px) {
  .companies__card {
    max-width: 18.5rem;
  }
}
@media (max-width: 992.99px) {
  .companies__card {
    min-width: 12.5rem;
    max-width: 21.875rem;
    width: 100%;
  }
}
.companies__info {
  padding-inline-start: 1.5rem;
}

.companies__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992.99px) {
  .companies__column {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .companies__column {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .companies__column {
    text-align: start;
  }
}

.companies__column--text {
  max-width: 40.375rem;
}
@media (max-width: 1025px) {
  .companies__column--text {
    max-width: 27.375rem;
  }
}
@media (max-width: 768px) {
  .companies__column--text {
    max-width: 100%;
  }
}

.companies__column--cards {
  max-width: 27.375rem;
  width: 100%;
}
@media (max-width: 1025px) {
  .companies__column--cards {
    max-width: 18.125rem;
  }
}
@media (max-width: 768px) {
  .companies__column--cards {
    max-width: 100%;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 4.75rem;
}
@media (max-width: 1024px) {
  .hero__container {
    gap: 5rem;
  }
}
@media (max-width: 768px) {
  .hero__container {
    padding-block-start: 5.625rem;
    gap: 3.75rem;
  }
}

.hero__digital {
  max-width: 68.3125rem;
}

.hero__digital-title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 5.375rem;
  letter-spacing: -0.09375rem;
  padding-block-end: 1rem;
}
@media (max-width: 1024px) {
  .hero__digital-title {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (max-width: 768px) {
  .hero__digital-title {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.03125rem;
  }
}

.hero__digital-title--product {
  color: #88888d;
}

.hero__digital-title--point {
  color: #57efb4;
  margin-inline-start: -0.9375rem;
}
@media (max-width: 768px) {
  .hero__digital-title--point {
    margin-inline-start: -0.625rem;
  }
}

.hero__digital-text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.01875rem;
  color: #88888d;
  padding-block-end: 2rem;
  max-width: 50.5625rem;
}
@media (max-width: 768px) {
  .hero__digital-text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    white-space: pre-line;
    margin-block-start: -1.5625rem;
  }
}

.button {
  text-align: center;
  background-color: #006ada;
  max-width: 6.6875rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  padding-block: 0.875rem;
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .hero__button {
    max-width: 100%;
  }
}

.cards__body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media (max-width: 1025px) {
  .cards__body {
    gap: 5.625rem;
  }
}
@media (max-width: 768px) {
  .cards__body {
    gap: 3.125rem;
  }
}

@media (max-width: 768px) {
  .cards__bod--ds {
    display: none;
  }
}

.cards__bod--mob {
  display: none;
}
@media (max-width: 768px) {
  .cards__bod--mob {
    display: flex;
  }
}

.card__sports,
.card__corporiate,
.card__sidebar {
  position: relative;
}

.card__sports img,
.card__corporiate img,
.card__sidebar img {
  width: 100%;
  max-height: 46.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
@media (max-width: 1225px) {
  .card__sports img,
  .card__corporiate img,
  .card__sidebar img {
    max-height: 37.5rem;
  }
}
@media (max-width: 768px) {
  .card__sports img,
  .card__corporiate img,
  .card__sidebar img {
    max-height: 16.25rem;
  }
}

.card__footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 2.5rem;
  bottom: 2.5rem;
  gap: 0.9375rem;
  align-items: center;
}
@media (max-width: 1025px) {
  .card__footer {
    padding-inline: 1.875rem;
    bottom: 1.875rem;
  }
}
@media (max-width: 768px) {
  .card__footer {
    padding-inline-start: 0;
    padding-inline-end: 0.9375rem;
    bottom: 0;
    left: 0;
  }
}

.card__footer-link {
  padding: 0.9375rem;
  background-color: #222233;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 1.25rem;
}
@media (max-width: 768px) {
  .card__footer-link {
    margin-block-start: -0.25rem;
  }
}

.card__footer-link img {
  min-width: 0.9375rem;
  height: 0.9375rem;
}

.card__footer-text p {
  padding: 1.25rem;
  background-color: #222233;
  border-radius: 0.5rem;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}
@media (max-width: 1025px) {
  .card__footer-text p {
    letter-spacing: 0.00625rem;
  }
}
@media (max-width: 768px) {
  .card__footer-text p {
    padding-block: 0.625rem;
    padding-inline: 0.9375rem;
  }
}

.card__footer-link {
  width: 2.75rem;
  height: 2.75rem;
  cursor: pointer;
}

.card__footer-link--green {
  background-color: #57efb4;
}

.build {
  display: flex;
  align-items: center;
  gap: 8.0625rem;
}
@media (max-width: 1240px) {
  .build {
    gap: 5.375rem;
  }
}
@media (max-width: 1025px) {
  .build {
    gap: 4rem;
  }
}
@media (max-width: 992.99px) {
  .build {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

.build__container {
  padding-inline-end: 5.125rem;
}
@media (max-width: 768px) {
  .build__container {
    padding-inline-end: 1.875rem;
  }
}

@media (max-width: 1025px) {
  .build__column {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.build__title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.0625rem;
  padding-block-end: 1rem;
}
@media (max-width: 1025px) {
  .build__title {
    max-width: 23.75rem;
  }
}
@media (max-width: 992.99px) {
  .build__title {
    padding-block-start: 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .build__title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: start;
    max-width: 17.5rem;
    letter-spacing: -0.01875rem;
  }
}

.build__column--title {
  max-width: 33.1875rem;
}
.build__text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
}

.build__text--paddding {
  padding-block-start: 1rem;
}
@media (max-width: 992.99px) {
  .build__text--paddding {
    padding-block-end: 0;
  }
}

.build__column-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
@media (max-width: 1280px) {
  .build__column-img {
    height: 31.25rem;
    min-width: 25rem;
  }
}
@media (max-width: 768px) {
  .build__column-img {
    height: 25rem;
    min-width: 18.75rem;
  }
}

.what__container {
  display: flex;
  justify-content: space-between;
  gap: 4.5625rem;
  padding-block-end: 7.75rem;
}
@media (max-width: 1025px) {
  .what__container {
    padding-block-end: 6.25rem;
  }
}
@media (max-width: 992.99px) {
  .what__container {
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
  }
}
@media (max-width: 768px) {
  .what__container {
    padding-block-end: 2.8125rem;
    gap: 4.125rem;
  }
}

.what__column--what {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1025px) {
  .what__column--what {
    max-width: 20.8125rem;
  }
}
@media (max-width: 992.98px) {
  .what__column--what {
    max-width: 33.1875rem;
  }
}

.what__body-title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.0625rem;
  padding-block-end: 1rem;
}
@media (max-width: 992.99px) {
  .what__body-title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .what__body-title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: start;
    letter-spacing: -0.01875rem;
  }
}

.what__body {
  max-width: 41.25rem;
}
@media (max-width: 1025px) {
  .what__body {
    max-width: 20.8125rem;
  }
}

.what__body-text,
.what__text,
.what__card-text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
}

.what__body-text {
  max-width: 33.125rem;
}
@media (max-width: 768px) {
  .what__body-text {
    width: 21.875rem;
  }
}
@media (max-width: 400px) {
  .what__body-text {
    max-width: 18.75rem;
  }
}

.what__text {
  margin-block-end: -0.25rem;
}

.what__card-text {
  padding-block-end: 1.5rem;
}
@media (max-width: 768px) {
  .what__card-text {
    max-width: 15.125rem;
  }
}

.what__cards {
  display: flex;
  flex-direction: column;
  gap: 2.4375rem;
}
@media (max-width: 992.98px) {
  .what__cards {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .what__cards {
    gap: 0.9375rem;
  }
}

.what__card {
  display: flex;
  max-width: 27.375rem;
  gap: 0.25rem;
}
@media (max-width: 768px) {
  .what__card {
    max-width: 21.875rem;
  }
}

.what__card--grey {
  background-color: #222233;
  border-radius: 0.5rem;
}

.what__body-img {
  padding-block: 1.25rem;
  padding-inline-start: 1.25rem;
}

.what__body-img img {
  min-width: 2.75rem;
  min-height: 2.75rem;
}

.what__info {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.what__card-title {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-block-end: 0.25rem;
  white-space: nowrap;
}

.what__card-job {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .what__text {
    padding-block-start: 3rem;
  }
}

.worked__body {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
  padding-inline-end: 1.875rem;
}
@media (max-width: 1025px) {
  .worked__body {
    flex-direction: column;
    gap: 2.1875rem;
    padding-inline-end: 0;
  }
}
@media (max-width: 768px) {
  .worked__body {
    gap: 2.1875rem;
  }
}

.worked__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10.25rem;
}
@media (max-width: 1025px) {
  .worked__container {
    gap: 7.25rem;
    padding-block-start: 6.5625rem;
  }
}
@media (max-width: 992.99px) {
  .worked__container {
    flex-direction: column;
    gap: 3rem;
  }
}
@media (max-width: 992.99px) and (max-width: 768px) {
  .worked__container {
    padding-block-start: 2.8125rem;
  }
}
@media (max-width: 992.99px) and (max-width: 440px) {
  .worked__container {
    align-items: flex-start;
  }
}

.worked__title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.0625rem;
  max-width: 40rem;
}
@media (max-width: 1025px) {
  .worked__title {
    max-width: 32.75rem;
  }
}
@media (max-width: 992.99px) {
  .worked__title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .worked__title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: start;
    max-width: 20rem;
    letter-spacing: -0.01875rem;
  }
}

.worked__statistic {
  max-width: 12.125rem;
}
@media (max-width: 768px) {
  .worked__statistic {
    max-width: 21.875rem;
  }
}

.worked__statistic-percent {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  font-family: "Sora", sans-serif;
  padding-block-end: 1rem;
}
@media (max-width: 768px) {
  .worked__statistic-percent {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.worked__statistic-text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
}

.goal__text--padding {
  padding-block-start: 1rem;
}

@media (max-width: 1025px) {
  .goal__column {
    max-width: 22.375rem;
  }
}

@media (max-width: 1025px) {
  .goal {
    justify-content: space-between;
    gap: 5.375rem;
  }
}
@media (max-width: 768px) {
  .goal {
    gap: 3.75rem;
  }
}

@media (max-width: 768px) {
  .goal__title {
    max-width: 21.875rem;
  }
}

@media (max-width: 1025px) {
  .goal__container {
    padding-inline: 5.625rem;
  }
}
@media (max-width: 768px) {
  .goal__container {
    padding-inline: 2rem;
  }
}

.hero__cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.1875rem;
}
@media (max-width: 1025px) {
  .hero__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.makes__cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 1025px) {
  .makes__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .makes__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.hero__card {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  width: 25.125rem;
  border-radius: 0.5rem;
}
@media (max-width: 1439px) {
  .hero__card {
    width: inherit;
    max-width: 25.125rem;
  }
}
@media (max-width: 768px) {
  .hero__card {
    padding-inline-end: 1rem;
  }
}

.hero__card--grey {
  background-color: #222233;
  border-radius: 0.5rem;
}

.hero__card-icon {
  max-width: 2.75rem;
  max-height: 2.75rem;
  padding: 0.9375rem;
  border-radius: 0.5rem;
  background-color: #222233;
}
.hero__card-icon img {
  width: 0.9375rem;
  height: 0.9375rem;
}
.hero__card-icon--green {
  background-color: #57efb4;
}

.hero__card-title {
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
}

.hero__card-title-text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
}

.arrow__body {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 2%;
  right: 1.875rem;
  padding: 1.5625rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0.125rem 0.125rem 0.3125rem 0 rgba(248, 247, 247, 0.986);
  z-index: 2000;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}
.arrow__body.active {
  opacity: 1;
  visibility: visible;
}
.arrow__body.active:active {
  transform: scale(0.9);
}
@media (max-width: 992.99px) {
  .arrow__body {
    padding: 0.9375rem;
  }
}

.arrow__img {
  width: 3.125rem;
  height: auto;
}
@media (max-width: 992.99px) {
  .arrow__img {
    width: 2.1875rem;
  }
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.0625rem;
}
@media (max-width: 768px) {
  .about__container {
    flex-direction: column;
    gap: 3.75rem;
  }
}

.about__text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #88888d;
  padding-block-end: 1.5rem;
}

.about__body-item {
  min-width: 9.0625rem;
}

.about__title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.0625rem;
  max-width: 31.75rem;
}
@media (max-width: 768px) {
  .about__title {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.01875rem;
  }
}

.about__column--text {
  max-width: 33.125rem;
}
@media (max-width: 1025px) {
  .about__column--text {
    max-width: 16.875rem;
  }
}
@media (max-width: 768px) {
  .about__column--text {
    min-width: 100%;
  }
}

.about__text {
  width: 100%;
}

.header {
  width: 100%;
  max-width: 90rem;
  padding-inline: 5.625rem;
}
@media (max-width: 768px) {
  .header {
    padding-inline: 2rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.logo {
  flex: 1 1;
  padding-block-start: 1.625rem;
  padding-block-end: 1.125rem;
}
@media (max-width: 768px) {
  .logo {
    padding-block: 1.5625rem;
  }
}

.logo__img {
  width: 2.75rem;
  height: 2.75rem;
}
@media (max-width: 768px) {
  .logo__img {
    width: 2.375rem;
    height: 2.375rem;
  }
}

.logo__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6875rem;
  line-height: 100%;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .logo__text {
    font-size: 1.375rem;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .nav__list {
    display: none;
  }
}

.nav__link {
  font-family: "Sora";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0;
  color: #88888d;
}
.nav__link:hover {
  color: #ffffff;
}

.nav__link--template {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-block: 0.875rem;
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  background-color: #222233;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .logo-link {
    gap: 0.25rem;
  }
}

.burger {
  display: none;
  width: 1.625rem;
  height: 1.125rem;
  z-index: 9999;
}
@media (max-width: 768px) {
  .burger {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.375rem;
    cursor: pointer;
    margin-inline-end: 0.5rem;
  }
}
.burger::before, .burger::after,
.burger span::before {
  position: absolute;
  content: "";
  width: 1.625rem;
  height: 0.125rem;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger span::before {
  bottom: 0;
}
.burger::after {
  bottom: 0.5rem;
}
.burger.active::before {
  width: 1.125rem;
}
.burger.active::after {
  width: 1.125rem;
}
.burger.active span::before {
  width: 1.125rem;
}

.burger__wrapper {
  position: fixed;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background-color: #222233;
  transform: translateX(-100%);
  z-index: 1200;
}
.burger__wrapper.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transform: translateX(-10%);
}

.burger__body {
  position: relative;
  z-index: 999;
}

.nav__list-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 3.125rem;
  text-align: center;
  gap: 1.875rem;
}

.nav__link-burger {
  opacity: 0.7;
  transition: 0.1s ease-in-out;
}
.nav__link-burger:hover {
  opacity: 1;
}

.nav__item-burger--template:active {
  transform: scale(0.9);
}

.nav__link-burger--template {
  background-color: #006ada;
  transition: 0.1s ease-in-out;
}

.logo__burger {
  filter: drop-shadow(0.25rem 0.25rem 0.375rem rgb(255, 255, 255));
}

.logo__burger .logo {
  padding-block: 0.625rem;
  margin-inline-end: 1.875rem;
}

.footer {
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  background-color: #222233;
}
.footer__container .logo {
  padding-block: 0;
}

.footer__contact {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  display: flex;
  justify-content: space-between;
  padding-block-start: 2rem;
  padding-block-end: 3rem;
}
.footer__contact > div {
  width: 18.1875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (max-width: 1024px) {
  .footer__contact > div {
    max-width: 11.6875rem;
  }
}
@media (max-width: 768px) {
  .footer__contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    padding-block: 3rem;
    padding-block-end: 3.4375rem;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 0.5rem;
  }
  .footer__contact > div {
    width: 9.9375rem;
  }
}
@media (max-width: 400px) {
  .footer__contact {
    place-items: center;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .footer__contact > div {
    width: 6.25rem;
    white-space: nowrap;
  }
}

.footer__copy-title {
  color: #88888d;
  margin-block-start: -0.3125rem;
  letter-spacing: 0.03125rem;
}

.footer__copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__copy {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

.footer__items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .footer__items {
    gap: 1rem;
  }
}

.footer__link {
  padding: 0.53125rem;
  border-radius: 3.125rem;
}

.footer__link--green {
  background-color: #57efb4;
}

.footer__link img {
  width: 0.9375rem;
  height: 0.9375rem;
}

.footer .logo-link {
  gap: 0.5rem;
}

.footer .logo__text {
  font-size: 1.6875rem;
  line-height: 100%;
}

.footer .logo__img {
  width: 2.75rem;
  height: 2.75rem;
}
/*# sourceMappingURL=style.css.map */
